@import url("https://use.typekit.net/sbj0fke.css");

$franklin: "franklin-gothic-urw", sans-serif;
$sourcesans: "source-sans-pro",sans-serif;
$arial: Arial, sans-serif;

$book: 400;
$medium: 500;
$demi: 700;

h1 {
  font-family: $franklin;
  font-weight: $medium;
  font-size: 28px;
  letter-spacing: 0.5px;
  line-height: 130%;
}
