@import url("https://use.typekit.net/sbj0fke.css");

$franklin: "franklin-gothic-urw", sans-serif;
$sourcesans: "source-sans-pro",sans-serif;
$arial: Arial, sans-serif;

$book: 400;
$medium: 500;
$demi: 700;
