.hero {
  height: 520px;
  background: url('../assets/img/IVA-Cover.jpg') no-repeat bottom right;
  background-color: $darkblue;
  padding: 190px 175px 0 175px;

  @include first-break-point {
    padding: 190px 50px 0 50px;
  }

  h1 {
    max-width: 490px;
    margin-top: 20px;
  }
}