.information {
  background-color: $grey;
  display: flex;
  justify-content: space-between;
  padding: 30px 175px;

  @include first-break-point {
    padding: 30px 50px;
  }

  @include second-break-point {
    display: block;
  }

  &__text {
    max-width: 535px;
    padding-top: 30px;

    @include second-break-point {
      max-width: 100%;
    }
  }

  &__image {
    display: block;
    width: 700px;
    height: 400px;
    margin: 115px 0 115px 25px;

    @include second-break-point {
      width: 100%;
      height: auto;
      margin: 50px 0;
    }
  }
}