.information {
  background-color: $grey;
  display: flex;
  justify-content: space-between;
  padding: 30px 175px;

  @include first-break-point {
    padding: 30px 50px;
  }

  &__text {
    max-width: 535px;
    padding-top: 30px;
  }

  &__image {
    display: block;
    width: 700px;
    height: 400px;
    margin: 115px 0 115px 25px;
  }
}