.navigation {
  background-color: $white;
  padding: 20px 175px;
  width: 100%;

  @include first-break-point {
    padding: 20px 50px;
  }

  &__main {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;

    &--active {
      font-weight: $demi !important;
      position: relative;

      &:before {
        content: '🞁';
        position: absolute;
        top: 32px;
        left: 50%;
        transform: translateX(-50%);
        color: $grey;
      }
    }
    
    li {
      display: inline-block;

      a {
        text-decoration: none;
        font-family: $sourcesans;
        font-weight: $book;
        font-size: 16px;
        color: $black;
        margin-right: 50px;
      }
    }
  }

  &__sub1 {
    position: absolute;
    top: 38px;
    left: -175px;
    height: 70px;
    width: 100vw;
    max-width: 1442px;
    background-color: $grey;
    padding: 25px 175px;
    box-sizing: border-box;

    @include first-break-point {
      left: -50px;
      padding: 25px 50px;
    }

    &--active {
      font-weight: $demi !important;

      &:before {
        content: '🞁';
        position: absolute;
        top: 39px;
        left: 50%;
        transform: translateX(-50%);
        color: $blue;
      }

      &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        left: 0;
        bottom: -5px;
        background-color: $blue;
      }
    }

    li {
      list-style: none;

      a {
        position: relative;
        color: $blue;
        margin-right: 35px;
      }
    } 
  }

  &__sub2 {
    position: absolute;
    top: 70px;
    left: 0px;
    height: 70px;
    width: 100vw;
    max-width: 1442px;
    background-color: $blue;
    padding: 25px 175px;
    box-sizing: border-box;

    @include first-break-point {
      padding: 25px 50px;
    }

    &--active {
      font-weight: $demi !important;

      &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        left: 0;
        bottom: -5px;
        background-color: $white;
      }
    }

    li {
      list-style: none;

      a {
        position: relative;
        color: $white;
        margin-right: 35px;
      }
    } 
  }
}