.profile {
  display: flex;
  justify-content: space-between;
  background-color: $white;
  padding: 75px 175px;

  @include second-break-point {
    padding: 75px 50px;
  }

  &__content {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 220px;
  }
}