.profile {
  display: flex;
  justify-content: space-between;
  background-color: $white;
  padding: 75px 175px;

  &__content {
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 220px;

    h4 {
      color: $blue;
    }

    a {
      display: block;
      margin-top: 20px;
      font-weight: $demi;
      text-decoration: none;
      color: $purple;
    }
  }
}